@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

html {font-size: 62.5%;}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 6rem;
  font-size: 4rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}

label{
  display: block;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 5rem;
  color: var(--primary);
  font-weight: bold;
  font-size: 5rem;
  cursor:pointer;
  transition: background 0.3s ease-out;
}
label:hover{
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
  transition: width 0.3s ease-out;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  cursor:pointer;
}

.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position:absolute;
  top: 0;
  left: 0;
  /* display:block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  background-color: white;
}

.no-images {
  width: 100%;
  display:flex;
  text-align: center;
  font-size: 1.7rem;
  color: lightgrey;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}